@model AddressBookPro.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Favorites</h1>
    <p>(those with an avatar)</p>
</div>
<p>
    <a class="btn btn-primary btn-lg" asp-controller="Contacts" asp-action="Create">New Contact</a>
</p>
<table class="table contactsTable table-striped table-responsive-sm">

    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Call</th>
            <th>Email</th>
            <th>Address</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts.OrderByDescending(c => c.DateAdded))
        {
        <tr>
            <td>
                <img src="@item.Avatar" style="width:50px;" />
            </td>
            <td>
                @item.FirstName @item.LastName
            </td>
            <td>
                <a href="tel:@item.Phone"><i class="fas fa-phone-square-alt fa-2x"></i></a>
            </td>
            <td>
                <a href="mailto:@item.Email"><i class="fas fa-paper-plane fa-2x"></i></a>
            </td>
            <td>
                <a href="https://www.google.com/maps/place/@item.Address1.Split()[0]+@item.Address1.Split()[1]+@item.Address1.Split()[2]+@item.City+@item.ZipCode"><i class="fas fa-map-marker-alt fa-2x"></i></a>
            </td>
            <td>
                <a asp-controller="Notes" asp-action="Index" asp-route-id="@item.Id"><i class="fas fa-sticky-note fa-2x"></i></a>
            </td>
            <td>
                <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Contacts" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>